<% content_for :title, "Organisations" %>

<% if can?(:create, Organisation) %>
  <%= render "govuk_publishing_components/components/button", {
    text: "Create organisation",
    href: new_admin_organisation_path
  } %>
<% end %>

<%= GovukPublishingComponents::AppHelpers::TableHelper.helper(self, "Organisations list", { caption_classes: "govuk-visually-hidden" }) do |t| %>
  <%= t.head do %>
    <%= t.header "Acrnoym" %>
    <%= t.header "Name" %>
    <%= t.header "Type" %>
    <%= t.header "Status" %>
    <%= t.header "Link" %>
  <% end %>

  <%= t.body do %>
    <% if @user_organisation %>
      <%= render partial: 'organisation_row',
                locals: { organisation: @user_organisation, prefix: 'user', table: t } %>
    <% end %>
    <% @organisations.each do |organisation| %>
      <%= render partial: 'organisation_row',
                locals: { organisation: organisation, table: t } %>
    <% end %>
    <% if @organisations.empty? %>
      <%= t.row do %>
        <td class="govuk-table__cell colspan="5">No organisations have been created.</td>
      <% end %>
    <% end %>
  <% end %>
<% end %>
