<% page_title "Past Foreign Secretaries" %>
<% page_class "historic-people-index govuk-width-container" %>
<%= render "govuk_publishing_components/components/breadcrumbs", {
  breadcrumbs: [
    {
      title: "Home",
      url: "/"
    },
    {
      title: "History of the UK Government",
      url: "/government/history"
    }
  ]
} %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= render "govuk_publishing_components/components/title", {
      context:"History",
      title: "Past Foreign Secretaries",
    } %>
  </div>
</div>

<%# Selection of profiles section %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= render "govuk_publishing_components/components/heading", {
      text: "Selection of profiles",
      padding: true,
      border_top: 2,
      font_size: "l",
    } %>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  </div>
</div>

<div class="historic-people-index__section-row-header" role="list">
  <div class="govuk-grid-row">
    <div role="listitem" class="govuk-grid-column-one-quarter">
      <%= render "govuk_publishing_components/components/image_card", {
      href: "/government/history/past-foreign-secretaries/edward-wood",
      image_src: image_path("history/past-foreign-secretaries/viscount-halifax.jpg"),
      image_alt: "Edward Frederick Lindley Wood, Viscount Halifax",
      image_loading: "lazy",
      heading_text: "Henry Petty-Fitzmaurice, Marquess of Lansdowne",
      description: "1900 to 1905",
      heading_level: 3,
    } %>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <%= render "govuk_publishing_components/components/image_card", {
      href: "/government/history/past-foreign-secretaries/robert-cecil",
      image_src: image_path("history/past-foreign-secretaries/marquess-of-salisbury.jpg"),
      image_alt: "Robert Cecil, Marquess of Salisbury",
      image_loading: "lazy",
      heading_text: "Robert Cecil, Marquess of Salisbury",
      description: "1878 to 1880, 1885 to 1886, 1887 to 1892 and 1895 to 1900",
      heading_level: 3,
    } %>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <%= render "govuk_publishing_components/components/image_card", {
      href: "/government/history/past-foreign-secretaries/george-gower",
      image_src: image_path("history/past-foreign-secretaries/earl-granville.jpg"),
      image_alt: "George Leveson Gower, Earl Granville",
      image_loading: "lazy",
      heading_text: "George Leveson Gower, Earl Granville",
      description: "1851 to 1852, 1870 to 1874 and 1880 to 1885",
      heading_level: 3,
    } %>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <%= render "govuk_publishing_components/components/image_card", {
      href: "/government/history/past-foreign-secretaries/george-gordon",
      image_src: image_path("history/past-foreign-secretaries/lord-aberdeen.jpg"),
      image_alt: "George Hamilton Gordon, Earl of Aberdeen",
      image_loading: "lazy",
      heading_text: "George Hamilton Gordon, Earl of Aberdeen",
      description: "1828 to 1830 and 1841 to 1846",
      heading_level: 3,
    } %>
  </div>
  <div class="govuk-grid-row">
    <div role="listitem" class="govuk-grid-column-one-quarter">
      <%= render "govuk_publishing_components/components/image_card", {
        href: "/government/history/past-foreign-secretaries/henry-petty-fitzmaurice",
        image_src: image_path("history/past-foreign-secretaries/lord-landsowne.jpg"),
        image_alt: "Henry Petty-Fitzmaurice, Marquess of Lansdowne",
        image_loading: "lazy",
        heading_text: "Henry Petty-Fitzmaurice, Marquess of Lansdowne",
        description: "1900 to 1905",
        heading_level: 3,
      } %>
    </div>
    <div role="listitem" class="govuk-grid-column-one-quarter">
      <%= render "govuk_publishing_components/components/image_card", {
        href: "/government/history/past-foreign-secretaries/robert-cecil",
        image_src: image_path("history/past-foreign-secretaries/marquess-of-salisbury.jpg"),
        image_alt: "Robert Cecil, Marquess of Salisbury",
        image_loading: "lazy",
        heading_text: "Robert Cecil, Marquess of Salisbury",
        description: "1878 to 1880, 1885 to 1886, 1887 to 1892 and 1895 to 1900",
        heading_level: 3,
      } %>
    </div>
    <div role="listitem" class="govuk-grid-column-one-quarter">
      <%= render "govuk_publishing_components/components/image_card", {
        href: "/government/history/past-foreign-secretaries/george-gower",
        image_src: image_path("history/past-foreign-secretaries/earl-granville.jpg"),
        image_alt: "George Leveson Gower, Earl Granville",
        image_loading: "lazy",
        heading_text: "George Leveson Gower, Earl Granville",
        description: "1851 to 1852, 1870 to 1874 and 1880 to 1885",
        heading_level: 3,
      } %>
    </div>
    <div role="listitem" class="govuk-grid-column-one-quarter">
      <%= render "govuk_publishing_components/components/image_card", {
        href: "/government/history/past-foreign-secretaries/george-gordon",
        image_src: image_path("history/past-foreign-secretaries/lord-aberdeen.jpg"),
        image_alt: "George Hamilton Gordon, Earl of Aberdeen",
        image_loading: "lazy",
        heading_text: "George Hamilton Gordon, Earl of Aberdeen",
        description: "1828 to 1830 and 1841 to 1846",
        heading_level: 3,
      } %>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div role="listitem" class="govuk-grid-column-one-quarter">
      <%= render "govuk_publishing_components/components/image_card", {
        href: "/government/history/past-foreign-secretaries/charles-fox",
        image_src: image_path("history/past-foreign-secretaries/charles-james-fox.jpg"),
        image_alt: "Charles James Fox",
        image_loading: "lazy",
        heading_text: "Charles James Fox",
        description: "1782, 1783 and 1806",
        heading_level: 3,
      } %>
    </div>
    <div role="listitem" class="govuk-grid-column-one-quarter">
      <%= render "govuk_publishing_components/components/image_card", {
        href: "/government/history/past-foreign-secretaries/william-grenville",
        image_src: image_path("history/past-foreign-secretaries/lord-grenville.jpg"),
        image_alt: "William Wyndham Grenville, Lord Grenville",
        image_loading: "lazy",
        heading_text: "William Wyndham Grenville, Lord Grenville",
        description: "1791 to 1801",
        heading_level: 3,
      } %>
    </div>
  </div>
</div>

<%# 21st century section %>
<div class="govuk-grid-row historic-people-index__section-row-header">
  <div class="govuk-grid-column-full">
    <%= render "govuk_publishing_components/components/heading", {
      text: "21st century",
      padding: true,
      border_top: 2,
      font_size: "l"
    } %>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  </div>
</div>
<div class="historic-people-index__section-row" role="list">
  <div class="govuk-grid-row">
    <div role="listitem" class="govuk-grid-column-one-quarter">
      <%# Custom heading as links to external page %>
      <h3 class="govuk-heading-s govuk-heading-s--foreign-secretary-profile">
        <a class="govuk-link" href="/government/people/dominic-raab/">Dominic Raab</a>
      </h3>
      <span class="govuk-visually-hidden"> &ndash; </span>
      <p class="govuk-body">2019 to present</p>
    </div>
    <div role="listitem" class="govuk-grid-column-one-quarter">
      <%= render "govuk_publishing_components/components/heading", {
        text: "Jeremy Hunt",
        heading_level: 3,
        font_size: "s",
      } %>
      <span class="govuk-visually-hidden"> &ndash; </span>
      <p class="govuk-body">2018 to 2019</p>
    </div>
    <div role="listitem" class="govuk-grid-column-one-quarter">
      <%= render "govuk_publishing_components/components/heading", {
        text: "Boris Johnson",
        heading_level: 3,
        font_size: "s",
      } %>
      <span class="govuk-visually-hidden"> &ndash; </span>
      <p class="govuk-body">2016 to 2018</p>
    </div>
    <div role="listitem" class="govuk-grid-column-one-quarter">
      <%= render "govuk_publishing_components/components/heading", {
        text: "Philip Hammond",
        heading_level: 3,
        font_size: "s",
      } %>
      <span class="govuk-visually-hidden"> &ndash; </span>
      <p class="govuk-body">2014 to 2016</p>
    </div>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <%= render "govuk_publishing_components/components/heading", {
      text: "Jeremy Hunt",
      heading_level: 3,
      font_size: "s",
    } %>
    <span class="govuk-visually-hidden"> &ndash; </span>
    <p class="govuk-body">2018 to 2019</p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <%= render "govuk_publishing_components/components/heading", {
      text: "Boris Johnson",
      heading_level: 3,
      font_size: "s",
    } %>
    <span class="govuk-visually-hidden"> &ndash; </span>
    <p class="govuk-body">2016 to 2018</p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <%= render "govuk_publishing_components/components/heading", {
      text: "Philip Hammond",
      heading_level: 3,
      font_size: "s",
    } %>
    <span class="govuk-visually-hidden"> &ndash; </span>
    <p class="govuk-body">2014 to 2016</p>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <%= render "govuk_publishing_components/components/heading", {
      text: "William Hague",
      heading_level: 3,
      font_size: "s",
    } %>
    <span class="govuk-visually-hidden"> &ndash; </span>
    <p class="govuk-body">2010 to 2014</p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <%= render "govuk_publishing_components/components/heading", {
      text: "David Miliband",
      heading_level: 3,
      font_size: "s",
    } %>
    <span class="govuk-visually-hidden"> &ndash; </span>
    <p class="govuk-body">2007 to 2010</p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <%= render "govuk_publishing_components/components/heading", {
      text: "Margaret Beckett",
      heading_level: 3,
      font_size: "s",
    } %>
    <span class="govuk-visually-hidden"> &ndash; </span>
    <p class="govuk-body">2006 to 2007</p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <%= render "govuk_publishing_components/components/heading", {
      text: "Jack Straw",
      heading_level: 3,
      font_size: "s",
    } %>
    <span class="govuk-visually-hidden"> &ndash; </span>
    <p class="govuk-body">2001 to 2006</p>
  </div>
</div>
</div>

<%# 20th century section %>
<div class="govuk-grid-row historic-people-index__section-row-header">
  <div class="govuk-grid-column-full">
    <%= render "govuk_publishing_components/components/heading", {
      text: "20th century",
      padding: true,
      border_top: 2,
      font_size: "l"
    } %>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  </div>
</div>
<div class="historic-people-index__section-row" role="list">
  <div class="govuk-grid-row">
    <div role="listitem" class="govuk-grid-column-one-quarter">
      <%= render "govuk_publishing_components/components/heading", {
        text: "Robin Cook",
        heading_level: 3,
        font_size: "s",
      } %>
      <span class="govuk-visually-hidden"> &ndash; </span>
      <p class="govuk-body">1997 to 2001</p>
    </div>
    <div role="listitem" class="govuk-grid-column-one-quarter">
      <%= render "govuk_publishing_components/components/heading", {
        text: "Sir Malcolm Rifkind",
        heading_level: 3,
        font_size: "s",
      } %>
      <span class="govuk-visually-hidden"> &ndash; </span>
      <p class="govuk-body">1995 to 1997</p>
    </div>
    <div role="listitem" class="govuk-grid-column-one-quarter">
      <%= render "govuk_publishing_components/components/heading", {
        text: "Douglas Hurd, Lord Hurd of Westwell",
        heading_level: 3,
        font_size: "s",
      } %>
      <span class="govuk-visually-hidden"> &ndash; </span>
      <p class="govuk-body">1989 to 1995</p>
    </div>
    <div role="listitem" class="govuk-grid-column-one-quarter">
      <%= render "govuk_publishing_components/components/heading", {
        text: "Sir John Major",
        heading_level: 3,
        font_size: "s",
      } %>
      <span class="govuk-visually-hidden"> &ndash; </span>
      <p class="govuk-body">1989</p>
    </div>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <%= render "govuk_publishing_components/components/heading", {
      text: "Sir Malcolm Rifkind",
      heading_level: 3,
      font_size: "s",
    } %>
    <span class="govuk-visually-hidden"> &ndash; </span>
    <p class="govuk-body">1995 to 1997</p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <%= render "govuk_publishing_components/components/heading", {
      text: "Douglas Hurd, Lord Hurd of Westwell",
      heading_level: 3,
      font_size: "s",
    } %>
    <span class="govuk-visually-hidden"> &ndash; </span>
    <p class="govuk-body">1989 to 1995</p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <%= render "govuk_publishing_components/components/heading", {
      text: "Sir John Major",
      heading_level: 3,
      font_size: "s",
    } %>
    <span class="govuk-visually-hidden"> &ndash; </span>
    <p class="govuk-body">1989</p>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <%= render "govuk_publishing_components/components/heading", {
      text: "Sir Geoffrey Howe, Lord Howe of Aberavon",
      heading_level: 3,
      font_size: "s",
    } %>
    <span class="govuk-visually-hidden"> &ndash; </span>
    <p class="govuk-body">1983 to 1989</p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <%= render "govuk_publishing_components/components/heading", {
      text: "SFrancis Pym, Lord Pym of Sandy",
      heading_level: 3,
      font_size: "s",
    } %>
    <span class="govuk-visually-hidden"> &ndash; </span>
    <p class="govuk-body">1982 to 1983</p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <%= render "govuk_publishing_components/components/heading", {
      text: "Lord Peter Carrington, Baron Carrington",
      heading_level: 3,
      font_size: "s",
    } %>
    <span class="govuk-visually-hidden"> &ndash; </span>
    <p class="govuk-body">1979 to 1982</p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <%= render "govuk_publishing_components/components/heading", {
      text: "Dr David Owen, Lord Owen of the City of Plymouth",
      heading_level: 3,
      font_size: "s",
    } %>
    <span class="govuk-visually-hidden"> &ndash; </span>
    <p class="govuk-body">1977 to 1979</p>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <%= render "govuk_publishing_components/components/heading", {
      text: "Anthony Crosland",
      heading_level: 3,
      font_size: "s",
    } %>
    <span class="govuk-visually-hidden"> &ndash; </span>
    <p class="govuk-body">1976 to 1977</p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <%= render "govuk_publishing_components/components/heading", {
      text: "James Callaghan, Lord Callaghan of Cardiff",
      heading_level: 3,
      font_size: "s",
    } %>
    <span class="govuk-visually-hidden"> &ndash; </span>
    <p class="govuk-body">1974 to 1976</p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <%= render "govuk_publishing_components/components/heading", {
      text: "Sir Alec Douglas-Home, Lord Home of the Hirsel",
      heading_level: 3,
      font_size: "s",
    } %>
    <span class="govuk-visually-hidden"> &ndash; </span>
    <p class="govuk-body">1970 to 1974</p>
    <p class="govuk-body">1960 to 1963</p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <%= render "govuk_publishing_components/components/heading", {
      text: "Michael Stewart, Lord Stewart of Fulham",
      heading_level: 3,
      font_size: "s",
    } %>
    <span class="govuk-visually-hidden"> &ndash; </span>
    <p class="govuk-body">1968 to 1970</p>
    <p class="govuk-body">1965 to 1966</p>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <%= render "govuk_publishing_components/components/heading", {
      text: "George Brown, Lord George-Brown of Jevington",
      heading_level: 3,
      font_size: "s",
    } %>
    <span class="govuk-visually-hidden"> &ndash; </span>
    <p class="govuk-body">1966 to 1968</p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <%= render "govuk_publishing_components/components/heading", {
      text: "Patrick Gordon-Walker, Lord Gordon-Walker of Leyton",
      heading_level: 3,
      font_size: "s",
    } %>
    <span class="govuk-visually-hidden"> &ndash; </span>
    <p class="govuk-body">1964 to 1965</p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <%= render "govuk_publishing_components/components/heading", {
      text: "Richard Austen Butler, Lord Butler of Saffron Walden",
      heading_level: 3,
      font_size: "s",
    } %>
    <span class="govuk-visually-hidden"> &ndash; </span>
    <p class="govuk-body">1963 to 1964</p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <%= render "govuk_publishing_components/components/heading", {
      text: "John Selwyn Brooke Lloyd, Lord Selwyn-Lloyd",
      heading_level: 3,
      font_size: "s",
    } %>
    <span class="govuk-visually-hidden"> &ndash; </span>
    <p class="govuk-body">1955 to 1960</p>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <%= render "govuk_publishing_components/components/heading", {
    text: "Harold Macmillan, Earl of Stockton",
    heading_level: 3,
    font_size: "s",
    } %>
    <span class="govuk-visually-hidden"> &ndash; </span>
    <p class="govuk-body">1955</p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <%= render "govuk_publishing_components/components/heading", {
      text: "Sir Anthony Eden, Earl of Avon",
      heading_level: 3,
      font_size: "s",
    } %>
    <span class="govuk-visually-hidden"> &ndash; </span>
    <p class="govuk-body">1951 to 1955</p>
    <p class="govuk-body">1940 to 1945</p>
    <p class="govuk-body">1935 to 1938</p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <%= render "govuk_publishing_components/components/heading", {
      text: "Herbert Morrison, Lord Morrison of Lambeth",
      heading_level: 3,
      font_size: "s",
    } %>
    <span class="govuk-visually-hidden"> &ndash; </span>
    <p class="govuk-body">1951</p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <%= render "govuk_publishing_components/components/heading", {
      text: "Ernest Bevin",
      heading_level: 3,
      font_size: "s",
    } %>
    <span class="govuk-visually-hidden"> &ndash; </span>
    <p class="govuk-body">1945 to 1951</p>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <%# Custom heading as links to external page %>
    <h3 class="govuk-heading-s govuk-heading-s--foreign-secretary-profile">
      <a class="govuk-link" href="/government/history/past-foreign-secretaries/edward-wood">Edward Frederick Lindley Wood, Viscount Halifax</a>
    </h3>
    <span class="govuk-visually-hidden"> &ndash; </span>
    <p class="govuk-body">1938 to 1940</p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <%= render "govuk_publishing_components/components/heading", {
      text: "Sir Samuel Hoare, Viscount Templewood",
      heading_level: 3,
      font_size: "s",
    } %>
    <span class="govuk-visually-hidden"> &ndash; </span>
    <p class="govuk-body">1935</p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <%= render "govuk_publishing_components/components/heading", {
      text: "Sir John Simon, Viscount Simon",
      heading_level: 3,
      font_size: "s",
    } %>
    <span class="govuk-visually-hidden"> &ndash; </span>
    <p class="govuk-body">1931 to 1935</p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <%= render "govuk_publishing_components/components/heading", {
      text: "Rufus Isaacs, Marquess of Reading",
      heading_level: 3,
      font_size: "s",
    } %>
    <span class="govuk-visually-hidden"> &ndash; </span>
    <p class="govuk-body">1931</p>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <%= render "govuk_publishing_components/components/heading", {
      text: "Arthur Henderson",
      heading_level: 3,
      font_size: "s",
    } %>
    <span class="govuk-visually-hidden"> &ndash; </span>
    <p class="govuk-body">1929 to 1931</p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <%# Custom heading as links to external page %>
    <h3 class="govuk-heading-s govuk-heading-s--foreign-secretary-profile">
      <a class="govuk-link" href="/government/history/past-foreign-secretaries/austen-chamberlain">Sir Austen Chamberlain</a>
    </h3>
    <span class="govuk-visually-hidden"> &ndash; </span>
    <p class="govuk-body">1924 to 1929</p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <%= render "govuk_publishing_components/components/heading", {
      text: "James Ramsay MacDonald",
      heading_level: 3,
      font_size: "s",
    } %>
    <span class="govuk-visually-hidden"> &ndash; </span>
    <p class="govuk-body">1924</p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <%# Custom heading as links to external page %>
    <h3 class="govuk-heading-s govuk-heading-s--foreign-secretary-profile">
      <a class="govuk-link" href="past-foreign-secretaries/george-curzon">George Nathaniel Curzon, Marquess of Kedlesto</a>
    </h3>
    <span class="govuk-visually-hidden"> &ndash; </span>
    <p class="govuk-body">1919 to 1924</p>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <%= render "govuk_publishing_components/components/heading", {
      text: "Arthur James Balfour, Earl of Balfour",
      heading_level: 3,
      font_size: "s",
    } %>
    <span class="govuk-visually-hidden"> &ndash; </span>
    <p class="govuk-body">1916 to 1919</p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <%# Custom heading as links to external page %>
    <h3 class="govuk-heading-s govuk-heading-s--foreign-secretary-profile">
      <a class="govuk-link" href="/government/history/past-foreign-secretaries/edward-grey">Sir Edward Grey, Viscount Grey of Fallodon</a>
    </h3>
    <span class="govuk-visually-hidden"> &ndash; </span>
    <p class="govuk-body">1905 to 1916</p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <%# Custom heading as links to external page %>
    <h3 class="govuk-heading-s govuk-heading-s--foreign-secretary-profile">
      <a class="govuk-link" href="/government/history/past-foreign-secretaries/henry-petty-fitzmaurice">Henry Petty-Fitzmaurice, Marquess of Lansdowne</a>
    </h3>
    <span class="govuk-visually-hidden"> &ndash; </span>
    <p class="govuk-body">1900 to 1905</p>
  </div>
</div>
</div>

<%# 19th century section %>
<div class="govuk-grid-row historic-people-index__section-row-header">
  <div class="govuk-grid-column-full">
    <%= render "govuk_publishing_components/components/heading", {
      text: "19th century",
      padding: true,
      border_top: 2,
      font_size: "l"
    } %>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  </div>
</div>
<div class="historic-people-index__section-row" role="list">
  <div class="govuk-grid-row">
    <div role="listitem" class="govuk-grid-column-one-quarter">
      <%# Custom heading as links to external page %>
      <h3 class="govuk-heading-s govuk-heading-s--foreign-secretary-profile">
        <a class="govuk-link" href="/government/history/past-foreign-secretaries/robert-cecil">Robert Cecil, Marquess of Salisbury</a>
      </h3>
      <span class="govuk-visually-hidden"> &ndash; </span>
      <p class="govuk-body">1895 to 1900</p>
      <p class="govuk-body">1897 to 1892</p>
      <p class="govuk-body">1885 to 1886</p>
      <p class="govuk-body">1878 to 1880</p>
    </div>
    <div role="listitem" class="govuk-grid-column-one-quarter">
      <%= render "govuk_publishing_components/components/heading", {
        text: "John Wodehouse, Earl of Kimberley",
        heading_level: 3,
        font_size: "s",
      } %>
      <span class="govuk-visually-hidden"> &ndash; </span>
      <p class="govuk-body">1894 to 1895</p>
    </div>
    <div role="listitem" class="govuk-grid-column-one-quarter">
      <%= render "govuk_publishing_components/components/heading", {
        text: "Archibald Primrose, Earl of Rosebery",
        heading_level: 3,
        font_size: "s",
      } %>
      <span class="govuk-visually-hidden"> &ndash; </span>
      <p class="govuk-body">1892 to 1894</p>
      <p class="govuk-body">1886</p>
    </div>
    <div role="listitem" class="govuk-grid-column-one-quarter">
      <%= render "govuk_publishing_components/components/heading", {
        text: "Stafford Northcote, Earl of Iddesleigh",
        heading_level: 3,
        font_size: "s",
      } %>
      <span class="govuk-visually-hidden"> &ndash; </span>
      <p class="govuk-body">1886 to 1887</p>
    </div>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <%= render "govuk_publishing_components/components/heading", {
      text: "John Wodehouse, Earl of Kimberley",
      heading_level: 3,
      font_size: "s",
    } %>
    <span class="govuk-visually-hidden"> &ndash; </span>
    <p class="govuk-body">1894 to 1895</p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <%= render "govuk_publishing_components/components/heading", {
      text: "Archibald Primrose, Earl of Rosebery",
      heading_level: 3,
      font_size: "s",
    } %>
    <span class="govuk-visually-hidden"> &ndash; </span>
    <p class="govuk-body">1892 to 1894</p>
    <p class="govuk-body">1886</p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <%= render "govuk_publishing_components/components/heading", {
      text: "Stafford Northcote, Earl of Iddesleigh",
      heading_level: 3,
      font_size: "s",
    } %>
    <span class="govuk-visually-hidden"> &ndash; </span>
    <p class="govuk-body">1886 to 1887</p>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <%# Custom heading as links to external page %>
    <h3 class="govuk-heading-s govuk-heading-s--foreign-secretary-profile">
      <a class="govuk-link" href="/government/history/past-foreign-secretaries/george-gower">George Leveson Gower, Earl Granville</a>
    </h3>
    <span class="govuk-visually-hidden"> &ndash; </span>
    <p class="govuk-body">1880 to 1885</p>
    <p class="govuk-body">1870 to 1874</p>
    <p class="govuk-body">1851 to 1852</p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <%= render "govuk_publishing_components/components/heading", {
      text: "Lord Edward Stanley, Earl of Derby",
      heading_level: 3,
      font_size: "s",
    } %>
    <span class="govuk-visually-hidden"> &ndash; </span>
    <p class="govuk-body">1866 to 1868</p>
    <p class="govuk-body">1866 to 1868</p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <%= render "govuk_publishing_components/components/heading", {
      text: "George Villiers, Earl of Clarendon",
      heading_level: 3,
      font_size: "s",
    } %>
    <span class="govuk-visually-hidden"> &ndash; </span>
    <p class="govuk-body">1868 to 1870</p>
    <p class="govuk-body">1865 to 1866</p>
    <p class="govuk-body">1853 to 1858</p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <%= render "govuk_publishing_components/components/heading", {
      text: "Lord John Russell, Earl Russell",
      heading_level: 3,
      font_size: "s",
    } %>
    <span class="govuk-visually-hidden"> &ndash; </span>
    <p class="govuk-body">1859 to 1865</p>
    <p class="govuk-body">1853 to 1858</p>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <%= render "govuk_publishing_components/components/heading", {
      text: "James Harris, Earl of Malmesbury",
      heading_level: 3,
      font_size: "s",
    } %>
    <span class="govuk-visually-hidden"> &ndash; </span>
    <p class="govuk-body">1858 to 1859</p>
    <p class="govuk-body">1852</p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <%= render "govuk_publishing_components/components/heading", {
      text: "Henry John Temple, Viscount Palmerston",
      heading_level: 3,
      font_size: "s",
    } %>
    <span class="govuk-visually-hidden"> &ndash; </span>
    <p class="govuk-body">1846 to 1851</p>
    <p class="govuk-body">1835 to 1841</p>
    <p class="govuk-body">1830 to 1834</p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <%# Custom heading as links to external page %>
    <h3 class="govuk-heading-s govuk-heading-s--foreign-secretary-profile">
      <a class="govuk-link" href="/government/history/past-foreign-secretaries/george-gordon">George Hamilton Gordon, Earl of Aberdeen</a>
    </h3>
    <span class="govuk-visually-hidden"> &ndash; </span>
    <p class="govuk-body">1841 to 1846</p>
    <p class="govuk-body">1828 to 1830</p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <%= render "govuk_publishing_components/components/heading", {
      text: "Arthur Wellesley, Duke of Wellington",
      heading_level: 3,
      font_size: "s",
    } %>
    <span class="govuk-visually-hidden"> &ndash; </span>
    <p class="govuk-body">1834 to 1835</p>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <%= render "govuk_publishing_components/components/heading", {
      text: "John William Ward, Viscount Dudley and Ward",
      heading_level: 3,
      font_size: "s",
    } %>
    <span class="govuk-visually-hidden"> &ndash; </span>
    <p class="govuk-body">1827 to 1828</p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <%= render "govuk_publishing_components/components/heading", {
      text: "George Canning",
      heading_level: 3,
      font_size: "s",
    } %>
    <span class="govuk-visually-hidden"> &ndash; </span>
    <p class="govuk-body">1822 to 1827</p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <%= render "govuk_publishing_components/components/heading", {
      text: "Robert Stewart, Viscount Castlereagh",
      heading_level: 3,
      font_size: "s",
    } %>
    <span class="govuk-visually-hidden"> &ndash; </span>
    <p class="govuk-body">1812 to 1822</p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <%= render "govuk_publishing_components/components/heading", {
      text: "Richard Wellesley, Marquess Wellesley",
      heading_level: 3,
      font_size: "s",
    } %>
    <span class="govuk-visually-hidden"> &ndash; </span>
    <p class="govuk-body">1809 to 1812</p>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <%= render "govuk_publishing_components/components/heading", {
      text: "Henry Bathurst, Earl Bathurst",
      heading_level: 3,
      font_size: "s",
    } %>
    <span class="govuk-visually-hidden"> &ndash; </span>
    <p class="govuk-body">1809</p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <%= render "govuk_publishing_components/components/heading", {
      text: "Charles Grey, Lord Howick",
      heading_level: 3,
      font_size: "s",
    } %>
    <span class="govuk-visually-hidden"> &ndash; </span>
    <p class="govuk-body">1806 to 1807</p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <%# Custom heading as links to external page %>
    <h3 class="govuk-heading-s govuk-heading-s--foreign-secretary-profile">
      <a class="govuk-link" href="/government/history/past-foreign-secretaries/charles-fox">Charles James Fox</a>
    </h3>
    <span class="govuk-visually-hidden"> &ndash; </span>
    <p class="govuk-body">1806</p>
    <p class="govuk-body">1783</p>
    <p class="govuk-body">1782</p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <%= render "govuk_publishing_components/components/heading", {
      text: "Henry Phipps, Lord Mulgrave",
      heading_level: 3,
      font_size: "s",
    } %>
    <span class="govuk-visually-hidden"> &ndash; </span>
    <p class="govuk-body">1805 to 1806</p>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <%= render "govuk_publishing_components/components/heading", {
      text: "Dudley Ryder, Lord Harrowby",
      heading_level: 3,
      font_size: "s",
    } %>
    <span class="govuk-visually-hidden"> &ndash; </span>
    <p class="govuk-body">1804</p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <%= render "govuk_publishing_components/components/heading", {
      text: "Robert Banks Jenkinson, Lord Hawkesbury",
      heading_level: 3,
      font_size: "s",
    } %>
    <span class="govuk-visually-hidden"> &ndash; </span>
    <p class="govuk-body">1801 to 1804</p>
  </div>
</div>
</div>

<%# 18th century section %>
<div class="historic-people-index__section-row" role="list">
  <div class="govuk-grid-row historic-people-index__section-row">
    <div class="govuk-grid-column-full">
      <%= render "govuk_publishing_components/components/heading", {
        text: "18th century",
        padding: true,
        border_top: 2,
        font_size: "l"
      } %>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    </div>
  </div>
</div>
<div class="historic-people-index__section-row" role="list">
  <div class="govuk-grid-row">
    <div role="listitem" class="govuk-grid-column-one-quarter">
      <%= render "govuk_publishing_components/components/heading", {
        text: "William Wyndham Grenville, Lord Grenville",
        heading_level: 3,
        font_size: "s",
      } %>
      <span class="govuk-visually-hidden"> &ndash; </span>
      <p class="govuk-body">1791 to 1801</p>
    </div>
    <div role="listitem" class="govuk-grid-column-one-quarter">
      <%= render "govuk_publishing_components/components/heading", {
        text: "Francis Godolphin Osborne, Marquess of Carmarthen",
        heading_level: 3,
        font_size: "s",
      } %>
      <span class="govuk-visually-hidden"> &ndash; </span>
      <p class="govuk-body">1783 to 1791</p>
    </div>
    <div role="listitem" class="govuk-grid-column-one-quarter">
      <%= render "govuk_publishing_components/components/heading", {
        text: "George Nugent Temple Grenville, Earl Temple",
        heading_level: 3,
        font_size: "s",
      } %>
      <span class="govuk-visually-hidden"> &ndash; </span>
      <p class="govuk-body">1783</p>
    </div>
    <div role="listitem" class="govuk-grid-column-one-quarter">
      <%= render "govuk_publishing_components/components/heading", {
        text: " Thomas Robinson, Lord Grantham",
        heading_level: 3,
        font_size: "s",
      } %>
      <span class="govuk-visually-hidden"> &ndash; </span>
      <p class="govuk-body">1782 to 1783</p>
    </div>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <%= render "govuk_publishing_components/components/heading", {
      text: "Francis Godolphin Osborne, Marquess of Carmarthen",
      heading_level: 3,
      font_size: "s",
    } %>
    <span class="govuk-visually-hidden"> &ndash; </span>
    <p class="govuk-body">1783 to 1791</p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <%= render "govuk_publishing_components/components/heading", {
      text: "George Nugent Temple Grenville, Earl Temple",
      heading_level: 3,
      font_size: "s",
    } %>
    <span class="govuk-visually-hidden"> &ndash; </span>
    <p class="govuk-body">1783</p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <%= render "govuk_publishing_components/components/heading", {
      text: " Thomas Robinson, Lord Grantham",
      heading_level: 3,
      font_size: "s",
    } %>
    <span class="govuk-visually-hidden"> &ndash; </span>
    <p class="govuk-body">1782 to 1783</p>
  </div>
</div>
</div>
